<!--The content below is only a placeholder and can be replaced.-->
<a routerLink="/list" routerLinkActive="active">List</a>
<a routerLink="/register" routerLinkActive="active">Register</a>
<a routerLink="/login" routerLinkActive="active">Login</a>

<router-outlet></router-outlet>
